* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.pri-button {
    background: #FD6E0A;
    width: 150px;
    height: 64px;
    border: 0px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 5px;

}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and nevigation bar */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner  */

.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;

}

.pic {
    margin-left: 173px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;

}

.banner-content {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;

}

.bannertop-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-top: 5px;


}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About me section */

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;


}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30;
}

.section-descriction {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;

}

.info-drescription {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
.about-info{
    margin-left: 50px;
}